#chat-screen {
  background-color: #abc1d1;
  height:500vh;
  -ms-overflow-style: none;
}
#chat-screen::-webkit-scrollbar{
  display:none;
}
#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  position: fixed;
  z-index: 1;
  top:0;
  width:100%;
  box-sizing: border-box;
  margin-top:20px;
}
#chat-screen .status-bar,
#chat-screen .alt-header {
  background-color: #abc1d1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: none;
  }
  1% {
    opacity: 0;
    transform:translateY(30px)
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

.main-chat {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:120px;
  animation: fadeIn .6s linear;
}
.chat__timestamp {
  color:white;
  background-color: #92a4b2;
  margin-bottom: 25px;
  padding:15px;
  border-radius: 25px;;
}

@keyframes msgFadeInLeft {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform:none;
  }
}
@keyframes msgFadeInRight {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform:none;
  }
}

.message-row {
  transform:translateX(-400px);
  display:flex;
  margin-bottom:25px;
  width:100%;
  animation: msgFadeInLeft .4s ease-in-out forwards;
  animation-delay: .1s;
}
.message__info {
  display:flex;
  align-items: flex-end;
}
.message-row img {
  margin-right:15px;
  width:50px;
  height:50px;
  object-fit: cover;
  border-radius: 22.5px;
}
.message__author {
  display:block;
  margin-bottom:5px;
  opacity:.8;
  font-size:14px;
}
.message__author,
.message__time {
  opacity:.8;
  font-size:13px;
}
.message__bubble {
  margin-right:5px;
  padding:13px;
  font-size:18px;
  background-color: white;
  border-radius: 15px;
  border-top-left-radius: 0px;
}

.message-row--own {
  transform:translateX(400px);
  justify-content: flex-end;
  animation: msgFadeInRight .4s ease-in-out forwards;
  animation-delay: .2s;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}
.message-row--own .message__bubble {
  margin-right:0;
  margin-left:5px;
  background-color: var(--yellow);
  border-radius:15px;
  border-top-right-radius: 0;
}

.reply {
  position:fixed;
  bottom:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding:5px 25px;
  width:100%;
  background-color: white;
  transition: transform .3s ease-in-out;
}
.reply .reply__column {
  position:relative;
}
.reply .reply__column:first-child {
  width:10%;
}
.reply .reply__column:last-child {
  width:90%;
}

.reply input {
  width:100%;
  height:30px;
  padding-left:13px;
  border:var(--main-border);
  border-radius: 20px;
  transition: all .3s ease-in-out;
}
.reply i {
  opacity: .5;
}
.reply__column:last-child > i,
.reply__column:last-child button {
  position:absolute;
  right:-15px;
  top:50%;
  transform:translateY(-50%);
  cursor:pointer;
}
.reply__column:last-child > i {
  right:27px;
}
.reply__column button {
  background-color: var(--yellow);
  border:none;
  width:30px;
  height:30px;
  border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active {
  outline:none;
}
.reply__column button i {
  opacity: 1;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  transition: opacity .3s ease-in-out;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity:0;
}
.reply input:focus {
  width:calc(90% - 25px + 7px);
  transform: translateY(-80px);
}
.reply:focus-within {
  transform:translateY(80px);
}