#friends-display-link {
  display:block;
  padding:15px 0;
  margin-bottom:10px;
  text-align: center;
  font-size:18px;
  background-color: #fafafa;
}

#friends-display-link i {
  color: rgba(0,0,0,.3);
}