.friends-screen {
  padding:0 var(--horizontal-space);
}

#friends-display-link {
  display:block;
  padding:15px 0;
  margin-bottom:15px;
  margin-top:-10px;
  text-align: center;
  font-size:18px;
  background-color: #fafafa;
}

#friends-display-link i {
  color: var(--sub-font-color);
}

.friends-screen__channel {
  padding-top:25px;
  margin-top:25px;
  border-top:var(--main-border);
}
.friends-screen__channel-header {
  display:flex;
  justify-content: space-between;
  margin-bottom:30px;
  color:var(--sub-font-color);
}

@keyframes hideSplashScreen {
  from {
    opacity:1;
  }
  to {
    opacity:0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yellow);
  position:absolute;
  top:0;
  display:flex;
  justify-content: center;
  align-items: center;
  width:100vw;
  height:100vh;
  font-size:10vw;
  animation: hideSplashScreen .4s ease-in-out forwards;
  animation-delay: 1s;
}